<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn-floating"  href="/additem"><i class="material-icons">add</i></a>


    <div class="card">

    <table class="highlight">
        <tr>
            <th>Song</th><th>Singer</th><th>Genre</th><th>Price</th><th>likes</th>
        </tr>
        <% items.forEach(function(item){  %>
        <tr>
        <td><a href="<%= item.YoutubeURL %>" target="opensim"><%= item.song %></a></td>
        <td><%= item.Singer %></td>
        <td><%= item.genre %></td>
            <td>$<%= item.Price %></td>
            <td><%= item.likes %></td>

        <td>
            <a class="btn" href="/like?song=<%= item.song %>"><i class="material-icons">favorite</i></a><br>
            <a class="btn" href="/delete?song=<%= item.song %>"><i class="material-icons">cancel</i></a>
            </td>
        </tr>

        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
